.header {
    background-color: white;
    border-bottom: 1px solid #999;

    font-size: 18px;
    padding: 22px;
}

.content {
    padding: 30px;
    position: relative;

    .tab-header-fix ::ng-deep .mat-tab-header {
        border-bottom: none;
        margin-bottom: 15px;
    }

    .section {
        h2 {
            font-weight: normal;
            font-size: 18px;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-bottom: 15px;

            &::before {
                content: "";

                margin: 0;
                padding: 0;

                position: absolute;
                width: 75px;
                height: 1px;
                transform: translateY(30px);
                border-bottom: 1px solid rgb(84, 0, 168);
            }
        }

        .section-item {
            p {
                display: inline-block;
                font-size: 14px;
                margin: 4px;
                width: 100px;

                &:first-of-type {
                    color: #666;
                    text-align: right;
                }
            }
        }
    }
}