<div>
    <div class="header">
        Employee Profile
    </div>
    <div class="content">
        <mat-tab-group class="tab-header-fix">
            <mat-tab label="MY INFO">
                <mat-card>
                    <img class="thumbnail" alt="Profile Photo" src="assets/thumbnail.png" height="150" width="150" />
                    <div class="section">
                        <!-- Basic Info -->
                        <h2>Basic Info</h2>
                        <div class="section-item">
                            <p>Full Name</p>
                            <p>data goes here</p>
                        </div>
                    </div>
                    <div class="section">
                        <!-- Addresses -->
                    </div>
                    <div class="section">
                        <!-- Contact Info -->
                    </div>
                    <div class="section">
                        <!-- Legal Info -->
                    </div>
                </mat-card>
            </mat-tab>
            <mat-tab label="MY FAMILY">
                <mat-card>
                    Outside the scope of this assignment.
                </mat-card>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>